<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- 1. Reverse Proxy Rule for Socket.io -->
        <!-- Redirects https://maxilotto.ng/socket.io/ to http://localhost:4000/socket.io/ -->
        <rule name="ReverseProxySocketIO" stopProcessing="true">
          <match url="^socket.io(/.*)?$" />
          <action type="Rewrite" url="http://localhost:4000/socket.io{R:0}" />
        </rule>

        <!-- 2. SPA Client-Side Routing -->
        <!-- For components like Tanstack Router or React Router -->
        <rule name="ReactRouterRoutes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
    </rewrite>

    <!-- Standard IIS settings for SPA -->
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
